/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generici */

body{
    background-color: rgb(122, 225, 122);
    padding: 50px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.btn-back{
    padding: 10px 15px;
    color: white;
    background-color: dodgerblue;
    border: 1px solid currentColor;
}

/* alert */

.alert  {
    padding: 20px;
    background-color: rgb(232, 106, 106);
    color: white;
    opacity: 1;
    transition: opacity 0.6s; 
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.closebtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: right;
}

.closebtn:hover {
    color: black;
}



/* modulo */

.form-box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.btn,
.btn-back{
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}


